*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-color: rgb(37, 95, 255);
} 
section{   
    text-align: center; 
    width: 80vw;
    max-width: 15cm;
    position: relative;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
}  
header{
    color: aliceblue;
}
form{

    background-color: aliceblue;
    border-radius: 15px;
    padding: 15px;
}
.box{
    margin-bottom: 15px;
}
footer{
    color: aliceblue;
    margin-top: 15px;
}